nav {
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
    padding: 20px;
}

main button {
    margin: 20px;
}

.answers {
    display: block;
    column-count: 1;
}

#scoreCard {
    text-align: start;
}